<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>

    <ion-card-header collapse="condense">
      <ion-card-title>
        <ion-icon name="help-circle"></ion-icon>
        Need Help?
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        Welcome to the support page of LexiAI! Whether you have questions, feedback, or need assistance, our dedicated
        support team is here to help you.
      </p>
      <p>
        Please feel free to reach out to us via email or visit our help center for more information:
      </p>
      <ul>
        <li><strong>Email:</strong> <a href="mailto:support@lexiai.com">support&#64;lexiai.com</a></li>
        <li><strong>Help Center:</strong> <a href="https://lexiai.com/help" target="_blank">https://lexiai.com/help</a>
        </li>
      </ul>
      <p>
        Our team strives to respond promptly to all inquiries and provide comprehensive assistance to ensure you have a
        seamless experience with LexiAI.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
