<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>

    <ion-card-header collapse="condense">
      <ion-card-title>
        <ion-icon name="information-circle" size="large"></ion-icon>
        Welcome to LexiAI
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p class="text-justify">
        Welcome to <strong>LexiAI</strong>, your intelligent language learning companion powered by cutting-edge AI
        technology. Whether you're passionate about mastering German, Spanish, English, or any other language, LexiAI is
        here to guide you every step of the way.
      </p>
      <p>
        At LexiAI, we're dedicated to transforming language learning into an immersive and personalized experience. Our
        platform integrates state-of-the-art AI algorithms to tailor lessons to your unique learning style, ensuring
        efficient and effective progress.
      </p>
      <p>
        Explore a vast selection of interactive courses designed by language experts and native speakers. Each course is
        crafted with engaging content, interactive exercises, and real-world applications to help you achieve fluency
        and
        confidence.
      </p>
      <p>
        Whether you're a beginner or an advanced learner, LexiAI provides comprehensive language tools and resources to
        enhance your skills. Our commitment to innovation means you'll always have access to the latest in language
        learning technology.
      </p>
      <p>
        Join the LexiAI community today and embark on a journey to language proficiency. Discover the power of
        AI-enhanced
        learning and unlock new opportunities to connect, communicate, and thrive in a multilingual world.
      </p>
      <p>
        <strong>Contact Us:</strong> Have questions or feedback? Reach out to our support team at <a
          href="mailto:support@lexiai.com">support&#64;lexiai.com</a>. We're here to help you succeed in your language
        learning goals.
      </p>
    </ion-card-content>

  </ion-card>

</ion-content>
