<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="container">
    <div class="item" *ngFor="let item of languageList">
      <ion-card class="card" (click)="openCourse(item)">
        <ion-img [src]="getIcon(item.code)" [alt]="item.name"></ion-img>
        <ion-card-header class="header">
          <ion-card-title class="text-capitalise title">{{item.name}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </div>

</ion-content>
